/* body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  background-color: rgb(4, 4, 88);
  font-size:1.21rem;
} */

.container-card {
  background-color:rgb(245, 245, 245);
  width: 20%;
  float:center;
  margin-top: 4rem;
  margin-left: 50rem;
  padding: 3rem;
  border:solid;
}

h1{
  background-color: black;
  color: white;
}
.card-title {
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  color: rgb(39, 6, 6);
}

.container {
  border-radius: 0px;
  background-color: rgb(4, 4, 88);
  padding: 0px;
  margin-top: 2.5rem;
  margin-left: 0.75rem;
  float: left;
  max-width: 40%;
}

.col-sm-6 {
  margin-bottom: 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

a {
  font-size: 1.1rem;
  color:rosybrown;
  text-decoration: none;
  margin-right: 1rem;
  position: right;
  
}

.navbar-brand {
  font-size: 1.5rem;
}


