body {
  font-family: cursive;
  box-sizing: border-box;
  background-color: rgb(0, 174, 255);
  font-size: 1 rem;
}

.card-title {
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  color: #343a40;
}

.container {
  border-radius: 0px;
  background-color: #27191359;
  padding: 0px;
  margin-top: 2.5rem;
  margin-left: 0.75rem;
  float: left;
  max-width: 50%;
}

.col-sm-6 {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

a{
  font-size: 1.4rem;
}

.navbar-brand {
  font-size: 1.5rem;
}


